<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jurassic Park | home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
    <link href="{{ url_for('static', filename='ingen.css') }}" rel="stylesheet">
</head>

<body>
<nav>
    <div class="container">
        <div class="navbar-brand">Jurassic Park</div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/dinos">Dinosaurs</a>
            {% if logged_in == True %}
                <a href="/logout">Logout</a>
                {% if access_level > 3 %}
                    <a href="/signup">Signup</a>
                {% endif %}
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
    <header>
        <h1>Jurassic Park</h1>
        <h2>{% block pageheading %}{% endblock %}</h2>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

<footer>
    <div>
        <h3>InGen</h3>
        <h3>We Make The Future</h3>
    </div>
</footer>
</html>