{% extends "base.html" %}

{% block pageheading %}Log a new Dinosaur{% endblock %}

{% block main %}
    <form class="myform" method = 'post'> <!-- This is a form for the user to add a new dinosaur to the database -->
        <div class="form-group">
            <div class="form-label">Species: </div>
            <div class="form-element"><input type="text" name="species" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Diet: </div>
            <div class="form-element">
                <select id="select_diet" name="select_diet"> <!-- This is a drop-down box that allows the user to select one of the diet types  -->
                    <option value="Carnivore">Carnivore</option> <!-- This also means that the data is consistent for this -->
                    <option value="Herbivore">Herbivore</option>
                    <option value="Omnivore">Omnivore</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">Location: </div>
            <div class="form-element"><input type="text" name="place" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Information: </div>
            <div class="form-element"><input type="text" name="info" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Living Specimens: </div>
            <div class="form-element"> <input type="text" name="specimens" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Image: </div> <!-- This will allow the user to select a file to use as the image for the dinosaur -->
            <div class="form-element"> <input type="file" name="image" required></div> <!-- It will be a button the user can press to open their files -->
        </div>
        <div class="form-group">
            <div class="form-label">Clearance Required: </div>
            <div class="form-element">
                <select id="select_clearance" name="select_clearance">
                    {% for number in range(0, (access_level + 1)) %} <!-- Allows the user to selecet the clearence required to view the dinosaur up to their own clearance -->
                        <option value="{{ number }}">{{ number }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"></div> <!-- Submits the form -->
            <div class="form-element"> <input type="submit" value="Log Dinosaur"></div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <h3>Delete Dinosaur data</h3>
    <form class="myform" method="post" action="delete_dino">
        <div class="form-group">
            <div class="form-label" for="user_email"> Dinosaur Info: </div>
            <div class="form-element">
                <select id="select_dino" name="select_dino">
                    {% for record in list_of_dinosaurs %}
                        <option value="{{ record[0], record[1], record[2], record[3], record[4], record[5], record[7] }}">{{ record[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"> </div>
        </div>
    </form>
{% endblock %}