{% extends "base.html" %}

{% block pageheading %}Log a new Dinosaur{% endblock %}

{% block main %}
    <form class="myform" method = 'post'>
        <div class="form-group">
            <div class="form-label">Species: </div>
            <div class="form-element"><input type="text" name="species" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Diet: </div>
            <div class="form-element">
                <select id="select_diet" name="select_diet">
                    <option value="Carnivore">Carnivore</option>
                    <option value="Herbivore">Herbivore</option>
                    <option value="Omnivore">Omnivore</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label">Location: </div>
            <div class="form-element"><input type="text" name="place" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Information: </div>
            <div class="form-element"><input type="text" name="info" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Living Specimens: </div>
            <div class="form-element"> <input type="text" name="specimens" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Clearance Required: </div>
            <div class="form-element">
                <select id="select_clearance" name="select_clearance">
                    {% for number in range(0, access_level) %}
                        <option value="{{ number }}">{{ number }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type="submit" value="Log Dinosaur"></div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <h3>Delete Dinosaur data</h3>
    <form class="myform" method="post" action="delete_dino">
        <div class="form-group">
            <div class="form-label" for="user_email"> Dinosaur Info: </div>
            <div class="form-element">
                <select id="select_session" name="select_session">
                    {% for record in list_of_dinosaurs %}
                        <option value="{{ record[0], record[1], record[2], record[3], record[4], record[5], record[7] }}">{{ record[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="form-label"> </div>
            <div class="form-element"> <input type="submit" value="Submit"> </div>
        </div>
    </form>
{% endblock %}