{% extends 'base.html' %}

{% block pageheading %}
The Dinosaurs Of Isla Nublar
{% if access >= 3 %}
    <p>Relocating a dinosaur? <a href="/schedule">Click here!</a> </p>
{% endif %}
   <div class="categories">
        {% for diet in list_of_diets %}
            <li> <a href="/dinos/{{ diet[0] }}"> {{ diet[1] }} </a> </li>
        {% endfor %}
    </div>
{% endblock %}

{% block main %}
    <div class = "products">
        {% for dinosaur in list_of_dinosaurs %}
            <div class = "product-box">
                <h3 class = "product-box-heading"> {{ dinosaur[1] }} </h3>
                <p> <strong> Diet: </strong> {{ dinosaur[2] }} </p>
                <p> <strong> Location: </strong> {{ dinosaur[3] }} </p>
                <p> <strong> Number of specimens: </strong> {{ dinosaur[5] }} </p>
                <p> <strong></strong> {{ dinosaur[6] }} </p>
                <p> <strong> Information: </strong> {{ dinosaur[4] }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}