{% extends "base.html" %}

{% block pageheading %}Welcome to Jurrasic Park{% endblock %}

{% block main %}
<h3>
    {% if logged_in == False %} <!-- This code will only run if the user is not logged in -->
        <strong><em>Please sign in to access the website's features</em></strong>
    {% endif %}
    {% if access_level == 0 %} <!-- This code will run if the user has a clearance of 0 -->
        <strong><em>Head to the dinosaurs page to view all the wondrous creatures INGEN has managed to resurrect</em></strong>
    {% endif %}
    {% if access_level > 0 %} <!-- This code will only run if the user has more than 0 clearance level -->
        <strong><em>Welcome employee</em></strong>
        <br>
        <strong><em>You have been granted access to more information on some of the more classified dinosaurs created here by INGEN</em></strong>
    {% endif %}
    <br>
    <br>
    {% if access_level >= 3 %} <!-- And this code will run if the user has 3 or higher clearance -->
        <strong><em>As a trusted employee you have been entrusted the ability to sign up new employees, to do this press admin sign-up</em></strong>
    {% endif %}
</h3>
{% endblock %}