{% extends "base.html" %}

{% block pageheading %}Signup{% endblock %}

{% block main %}
    <form class="myform" method = 'post'> <!-- A form for the user to input their information to sign up to the website -->
        <div class="form-group">
            <div class="form-label">First Name: </div>
            <div class="form-element"><input type="text" name="user_fname" maxlength="30" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Surname: </div>
            <div class="form-element"><input type="text" name="user_lname" maxlength="30" required></div>
        </div>
        <div class="form-group">
            <div class="form-label">Email: </div>
            <div class="form-element"> <input type="email" name="user_email" maxlength="100" required></div> <!-- Email input type means it will only accept text that fits an email (has an @) -->
        </div>
        <div class="form-group">
            <div class="form-label">Password: </div>
            <div class="form-element"> <input type="password" name="user_password" maxlength="20" required></div> <!-- Password variable type means the text will be hidden -->
        </div>
        <div class="form-group">
            <div class="form-label">Confirm Password: </div>
            <div class="form-element"> <input type="password" name="user_password2" maxlength="20" required></div>
        </div>
        {% if access_level >= 3 %}
        <div class="form-group">
            <div class="form-label"> Clearance Level: </div>
            <select id="clearance_level" name="clearance_level" required>
                {% for number in range(1, access_level) %} <!-- This allows an admin to grant a new sign-up clearance up to their own level  -->
                    <option value="{{ number }}">{{ number }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"> <input type="submit" value="Signup"></div>
        </div>
    </form>
{% endblock %}